@charset "UTF-8";

td {
	vertical-align: middle !important;
}

#main {
	margin-top:10px;
}
#pager {
	margin-top:5px;
	margin-bottom:5px;
	float:right;
}
.sub-menu {
	margin-top:14px;
}
.sub-menu input,
.sub-menu button,
.sub-menu select  {
	margin-bottom:5px;
}
