@charset "UTF-8";

body {
	font-family: "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

#nav {
	margin-bottom: 0px;
}
.alert-top {
	top:50px;
	width:100%;
	display:none;
	text-align: center;
	margin-bottom: 0;
	padding:10px;
}
